<h3>All Bookmarks</h3>
<h6><%= link_to "New Topic", new_topic_path %></h6>
<h6>Click on "Topic Title" to create New Bookmark</h6>
<br>
  <div>
    <% @topics.each do |topic| %> 
      <table class="table"> 
          <h4><%= link_to topic.title, topic %></h4>
        <thead>
            <tr>
            <th>Liked</th>
            <th>Bookmark URL</th>
            <th>Added By</th>
            </tr>
        </thead>
        <tbody>
          <% topic.bookmarks.each do |bookmark| %>
            <tr> 
            <td><%= render partial: 'likes/like', locals: { bookmark: bookmark } %></td>
            <td><%= link_to bookmark.url, bookmark.url, target: '_blank' %></td>
            <td><%= bookmark.user.email %></td>
            </tr> 
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
<br>
